<div class="mx-5">
  <h3>Liste des soirées</h3>
  <div class="d-flex justify-content-between mb-3">
    <a routerLink="/soirees/ajouter">Ajouter une soirée</a>
  </div>

<table mat-table [dataSource]="dataSource" matSort>
  <!-- Colonne pour le nom -->
  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
    <td mat-cell *matCellDef="let soiree">
      <a [routerLink]="['/soirees', soiree.id]" class="btn btn-link">{{ soiree.nom }}</a>
    </td>
  </ng-container>

  <!-- Colonne pour le lieu -->
  <ng-container matColumnDef="lieu">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Lieu </th>
    <td mat-cell *matCellDef="let soiree"> {{ soiree.lieu }} </td>
  </ng-container>

  <!-- Colonne pour la date -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
    <td mat-cell *matCellDef="let soiree"> {{ soiree.date }} </td>
  </ng-container>

    <!-- Colonne pour l'heure -->
    <ng-container matColumnDef="heure">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Heure </th>
      <td mat-cell *matCellDef="let soiree"> {{ soiree.heure }} </td>
    </ng-container>

  <!-- Colonne pour le prix -->
  <ng-container matColumnDef="prix">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Prix </th>
    <td mat-cell *matCellDef="let soiree"> {{ soiree.prix }} euro(s)</td>
  </ng-container>

  <!-- Colonne pour la capacité -->
  <ng-container matColumnDef="capacite">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Capacité </th>
    <td mat-cell *matCellDef="let soiree"> {{ soiree.capacite }} </td>
  </ng-container>

  <!-- Colonne pour le thème -->
  <ng-container matColumnDef="theme">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Thème </th>
    <td mat-cell *matCellDef="let soiree"> {{ soiree.theme }} </td>
  </ng-container>

  <!-- Définition de l'en-tête et des lignes -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Pagination -->
<mat-paginator [length]="soirees.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
