<nav class="navbar navbar-expand-lg navbar-light bg-gradient p-3">
  <a class="navbar-brand" routerLink="/">BDE</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link navbar-item" routerLink="/soiree">Soirées</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-item" routerLink="/reservations">Réservations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-item" routerLink="/goodies">Goodies</a>
      </li>
    </ul>
  </div>
</nav>
