<div class="container mt-4">
  <div class="reservation-form">
    <div class="reservation-header">
      <h2>Nouvelle réservation</h2>
    </div>
    
    <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
      <div class="reservation-info">
        <div class="row g-4">
          <!-- Informations personnelles -->
          <div class="col-md-6 mb-4">
            <label for="nom_etudiant" class="form-label">Nom de l'étudiant</label>
            <input 
              type="text" 
              class="form-control custom-input" 
              id="nom_etudiant" 
              formControlName="nom_etudiant" 
              placeholder="Entrez le nom complet"
            >
          </div>
          
          <div class="col-md-6 mb-4">
            <label for="email_etudiant" class="form-label">Email</label>
            <input 
              type="email" 
              class="form-control custom-input" 
              id="email_etudiant" 
              formControlName="email_etudiant" 
              placeholder="exemple@email.com"
            >
          </div>
          
          <div class="col-md-6 mb-4">
            <label for="telephone_etudiant" class="form-label">Téléphone</label>
            <input 
              type="tel" 
              class="form-control custom-input" 
              id="telephone_etudiant" 
              formControlName="telephone_etudiant" 
              placeholder="06 XX XX XX XX"
            >
          </div>
          
          <div class="col-md-6 mb-4">
            <label for="date_reservation" class="form-label">Date de réservation</label>
            <input 
              type="datetime-local" 
              class="form-control custom-input" 
              id="date_reservation" 
              formControlName="date_reservation"
            >
          </div>
        </div>
      </div>
      
      <div class="reservation-actions">
        <button type="submit" class="btn-ajouter-reservation" [disabled]="!reservationForm.valid">
          <i class="bi bi-save me-2"></i>Enregistrer
        </button>
        <button type="button" class="btn-modifier" (click)="retour()">
          <i class="bi bi-arrow-left me-2"></i>Retour
        </button>
      </div>
    </form>
  </div>
</div>
