<mat-table [dataSource]="soirees">
    <ng-container matColumnDef="nom">
      <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
      <mat-cell *matCellDef="let soiree"> {{ soiree.nom }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="lieu">
      <mat-header-cell *matHeaderCellDef> Lieu </mat-header-cell>
      <mat-cell *matCellDef="let soiree"> {{ soiree.lieu }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let soiree"> {{ soiree.date | date: 'dd/MM/yyyy' }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="heure">
      <mat-header-cell *matHeaderCellDef> Heure </mat-header-cell>
      <mat-cell *matCellDef="let soiree"> {{ soiree.heure | date: 'HH:mm' }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="prix">
      <mat-header-cell *matHeaderCellDef> Prix </mat-header-cell>
      <mat-cell *matCellDef="let soiree"> {{ soiree.prix | currency: 'EUR' }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="capacite">
      <mat-header-cell *matHeaderCellDef> Capacite </mat-header-cell>
      <mat-cell *matCellDef="let soiree"> {{ soiree.capacite }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="theme">
      <mat-header-cell *matHeaderCellDef> Thème </mat-header-cell>
      <mat-cell *matCellDef="let soiree"> {{ soiree.theme }} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  