<div class="container my-5">
    <a [routerLink]="['/reservations']" class="btn btn-link">Retour à la liste</a>
    
    <!-- Afficher le message d'erreur si la reservation n'est pas trouvée -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      <strong>Erreur :</strong> {{ errorMessage }}
    </div>
  
    <!-- Afficher la reservation si elle existe -->
    <div *ngIf="reservation" class="card">
      <div class="card-header">
        <h2>{{ reservation.nom }}</h2>
        <p class="text-muted">Id soirée : {{ reservation.id_soiree }}</p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h5>Email :</h5>
            <p>{{ reservation.email }}</p>
          </div>
          <div class="col-md-6">
            <h5>Date de réservation :</h5>
            <p>{{ reservation.date_reservation }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h5>Telephone :</h5>
            <p>{{ reservation.telephone }}</p>
          </div>
          <div class="col-md-6">
            <h5>Statut :</h5>
            <p>{{ reservation.statut }}</p>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <!-- Bouton de modification -->
        <button (click)="onEdit()" class="btn btn-primary mx-2">Modifier</button>

        <!-- Bouton de suppression -->
        <button (click)="onDelete()" class="btn btn-danger mx-2">Supprimer</button>
      </div>
    </div>
  </div>
  